.kontejner {
    margin-top: 40px;
}

.statistika {
    list-style-type: none;
    padding-left: 0px;
    text-align: center;
    margin-bottom: 30px;
}

.jumbotron {
    padding: 40px 30px !important;
}

.statistika li {
    display: inline;
    margin-right: 30px;
}

.tab-pane {
    margin-top: 30px;
}

.g-recaptcha {
    width: 304px;
    margin: 0px auto 10px auto;
}

.ustanove-lista {
    width: 304px;
    margin: 0px auto 10px auto;
}

.vizImg{
    margin-bottom: 100px;
}

#visjsMreza {
    width: 100%;
    height: 500px;
    border: 0px;
}